body {
			background-image: url('images/RF3HKQFRZQI6RC2TKAIWO2HETE.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			font-family: lato;
		}
		.loader-container {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			height: 100vh;
			background-color: #000000c9;
		}
		.progress-bar-container {
			width: 40%;
			height: 20px;
			
			border-radius: 10px;
			overflow: hidden;
			margin-bottom: 10px;
			position: relative;
		}
.load-bdr {
    border: 1px solid #fff;
   transition-delay: 1s ;
   transition-timing-function: ease-in-out;
   
}
		
		.progress-bar {
			width: 0%;
			height: 100%;
			background-color: #3498db;
			transition: width 0.5s ease-in-out;
		}
		.progress {
			font-size: 20px;
/* 			font-weight: 200; */
			color: #fff;
			margin-bottom: 20px;
            text-align:center;
		}
		.rotate {
			  animation: rotation 4s;
		}

		.linear {
			  animation-timing-function: linear;
		}

		.infinite {
			  animation-iteration-count: infinite;
		}

		@keyframes rotation {
			  from {
			    transform: rotate(0deg);
			  }
			  to {
			    transform: rotate(359deg);
			  }
		}


@media only screen and (max-width: 767px) {
    .progress-bar-container {
			width: 80%;
			
		}
}
